@model ProjectTemplate.PresentationModel.ArticleDTO

@{
    ViewData["Title"] = "Articles";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

@section HeaderContent
{
    <link rel="stylesheet" type="text/css" href="~/css/article.css" />
}

@section MainContent
    {    
    <div>
        <div>
            <input id="createArticleBtn" type="button" value="Create New Article" />
        </div>
        <table>
            <thead>
                <tr>
                    <th>Article Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ArticleObjects)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            <a href="/Article/Edit/@(item.Id)">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    }

@section JSFooterContent {
    <script src="~/js/article.js"></script>
    <script>
        $(document).ready(function () {
            $("#createArticleBtn").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Article/CreateNewArticle",
                    dataType: "json",
                    success: function (data) {
                        if (data.articleId) {
                            // Redirect to the edit page of the newly created article.
                            window.location.href = "/Article/Edit/" + data.articleId;
                        } else {
                            alert("Failed to create a new article.");
                        }
                    },
                    error: function () {
                        alert("An error occurred while creating a new article.");
                    }
                });
            });
        });
    </script>
}