@model ProjectTemplate.PresentationModel.ArticleDTO

@{
    ViewData["Title"] = "Articles";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

@section HeaderContent
{
    <link rel="stylesheet" type="text/css" href="~/css/article.css" />
}

@section MainContent
    {    
    <div>
        <div>
            <input id="createArticleBtn" type="button" value="Create New Article" />
        </div>
        <table>
            <thead>
                <tr>
                    <th>Article Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Articles)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            <a href="/article/edit/@(item.Id)">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    }

@section JSFooterContent {
    <script type="text/javascript">
    
$(document).ready(function () {
    $("#createArticleBtn").click(function () {
        $.ajax({
            type: "POST",
            url: "/article/create_new_article",
            data: {
                article_type: 1, //hard coded for now
            },
            dataType: "json",
            success: function (data) {
                if (data.id_article) {
                    // Redirect to the edit page of the newly created article.
                    window.location.href = "/article/edit/" + data.id_article;
                } else {
                    alert("Failed to create a new article.");
                }
            },
            error: function () {
                alert("An error occurred while creating a new article.");
            }
        });
    });
});    
    </script>
}