@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

@section HeaderContent
    {
    <link rel="stylesheet" type="text/css" href="~/css/home.css" />
}

@section MainContent
    {
        This is the HOME page
    <div style="margin-top:30px">This is the link to the <a href="page_test">page TEST</a></div>
    <div style="margin-top:30px">This is the link to the <a href="~/article/articles">page Articles</a></div>
}

@section JSFooterContent {
    <script src="~/js/home.js"></script>
}