@model ProjectTemplate.PresentationModel.TestDTO
@using DomainModel.ObjectList

@{
  Layout = "~/Views/Shared/MasterPage.cshtml";
}

@section HeaderContent 
{
    <link rel="stylesheet" type="text/css" href="~/css/test.css" />
}

@section MainContent
{
   <h3>This is a test page</h3> 
   <h5>This is the content of the table: </h5>
   <div style="display:table; margintop:30px">
        <ul>

           @foreach(TestObject obj in ViewData.Model.TestObjects)
           {
               <div style="display:table-row">
                    <div style="display:table-cell">@(obj.Id)</div>
                    <div style="display:table-cell">@(obj.Name)</div>
               </div>
           }
       </ul>
   </div>
   
}

@section JSFooterContent {
    <script src="~/js/test.js"></script>
}