<!DOCTYPE html>
<html lang="en">
    @{ IgnoreBody(); }
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* <link rel="stylesheet" href="~/css/site.css" /> *@ @*TODO: need to add later if required *@
    <script src="~/js/jquery_3.5.0.min.js"></script>
    @RenderSection("HeaderContent", required: false)
</head>
<body>

     @RenderSection("MainContent", required: false)


    <script src="~/js/jquery_3.5.0.min.js"></script>
    <script src="~/js/master.js"></script>
    @RenderSection("JSFooterContent", required: false)
</body>
</html>
